:root {
    --bg-color: #051425;
}


body{
    width: 100wh;
    background: var(--bg-color);
    
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.today-item{
    color: var(--bg-color);

    font-weight: 500;
    font-size: 38;
}

.tomorrow-item{
    color: #FFFFFF;

    font-weight: 300;
    font-size: 34;
}

h1{
    margin: 5px;
    font-family: 'Roboto', sans-serif;

    color: var(--bg-color);

    font-weight: bold;
    font-size: 74px;
}

#today-title{
    color: var(--bg-color);
}

#tomorrow-title{
    color: #FFFFFF;

    font-weight: 500;
    font-size: 36px;
}


h2{
    margin: 5px;
    font-family: 'Roboto', sans-serif;

    font-weight: 300;
    font-size: 42px;
}

#tomorrow-weather{
    color: #FFFFFF;

    font-weight: 300;
    font-size: 32px;
}


.box{
    padding: 20px;
    margin: 10px;

    border-radius: 8px;
}

.boxl{
    height: 100%;
    width: 100%;
}

#today{
    width: 65%;
    background-image: linear-gradient(100deg, #f00000 35%, #00b445 38%);
    /* background: linear-gradient(110deg, #0cb04a 5%, #a92921 40%);
    background: linear-gradient(110deg, #ffad50 4.57%, #9CF9FF 60.94%); */

    display: flex;
    flex-wrap: wrap;
}

#time{
    flex: 1;
    background: #00b445;
    /* background: #9CF9FF; */
}

#trash{
    flex: 1;
}

.takeout{
    background: #FF8B49;
}

.notakeout{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

#tomorrow{
    width: 65%;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
}

.dayinfo{
    width: 30%;
    /* border: 2px solid #FFFFFF; */
}


.day-items{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    margin-top: 20px;

    /* border: 2px solid #FFFFFF; */
}

#redAlert{
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#date-title{
    color: black;
}